.App {
  display: grid;
  gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.AppNoFilter {
  display: grid;
  gap: 1rem;
  padding-top: 6rem;
}

@media (min-width: 600px) {
  .AppNoFilter {
    padding-top: 7rem;
  }
}
