@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

:root {
  font-family: "League Spartan", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --FS: 15px;

  /* colors */
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

  --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-Tablets: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: var(--Desaturated-Dark-Cyan);
}

body {
  margin: 0;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: calc(100vh - 8rem);
  background-color: var(--Light-Grayish-Cyan-Background);
  grid-template-rows: max-content max-content;
  gap: 2rem;
}
body::after {
  background-image: url("./assets/bg-header-mobile.svg");
  background-color: var(--Desaturated-Dark-Cyan);
  background-repeat: repeat-x;
  position: absolute;
  height: 137px;
  width: 100%;
  content: "";
  top: 0;
  z-index: -1;
}

* {
  font-family: "League Spartan", sans-serif;
}
h2,
h3,
h4,
p {
  margin: 0;
}

@media (min-width: 600px) {
  body::after {
    background-image: url("./assets/bg-header-desktop.svg");
    height: 156px;
  }
  body {
    padding-top: 6rem;
    min-height: calc(100vh - 10rem);
  }
}
