.Container {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.247);
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  width: calc(100vw - 4rem);
  max-width: 300px;
  gap: 1rem;
  margin-top: 2rem;
}

.FeaturedUtil {
  border-left: 5px solid var(--Desaturated-Dark-Cyan);
}

.Logo {
  position: absolute;
  left: 1rem;
  transform: translateY(-50%);
  height: 4rem;
}

.Content {
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
}

.TopInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem 2rem;
  flex-wrap: wrap;
}

.Company {
  color: var(--Desaturated-Dark-Cyan);
}

.Tags {
  display: flex;
  gap: 0.5rem;
}

.New,
.Featured {
  border-radius: 100px;
  color: White;
  padding: 8px 10px 5px 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.New {
  background-color: var(--Desaturated-Dark-Cyan);
}

.Featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
}

.Position {
  cursor: pointer;
}
.Position:hover {
  color: var(--Desaturated-Dark-Cyan);
}

.Info {
  display: flex;
  gap: 0.5rem;
  color: var(--Dark-Grayish-Cyan);
  flex-wrap: wrap;
}

.PostedAt {
}

.Contract {
}

.Location {
}

.Filters {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--Dark-Grayish-Cyan);
  flex-wrap: wrap;
}

.Language,
.Tool {
  padding: 8px 10px 5px 10px;
  border-radius: 3px;
  background-color: var(--Light-Grayish-Cyan-Tablets);
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  cursor: pointer;
}

.Language:hover,
.Tool:hover {
  padding: 8px 10px 5px 10px;
  border-radius: 3px;
  background-color: var(--Desaturated-Dark-Cyan);
  color: white;
}

@media (min-width: 800px) {
  .Container {
    padding: 2rem;
    max-width: clamp(200px, 80vw, 1200px);
    grid-template-columns: max-content max-content 1fr;
    gap: 2rem;
    align-items: center;
  }
  .Logo {
    left: 0;
    position: relative;
    height: 100%;
    transform: none;
  }
  .Content {
    padding-top: 0;
  }
  .Filters {
    display: flex;
    padding-top: 0;
    border-top: none;
    justify-self: end;
  }
}
